ENV="local"
DATABASE_URL="postgresql://admin:admin@localhost:5432/main?schema=public"
JWT_KEY="any-secret"
JWT_ACCESS_EXPIRES_IN="100m"
JWT_REFRESH_EXPIRES_IN="1d"
GOOGLE_PROJECT_ID="test-function-466919"
GOOGLE_BUCKET_NAME="scooter-bucket"
ENCRYPT_SECRET_KEY="12345678901234567890123456789012"
LOOPS_API_KEY="a166f322020cd63bc9530d97b94f2b8e"